.error {
    font-size: 13px !important;
    color: red !important;
    border-color: red !important;
}
.header-courses {
    display: none;
}
.files {
    border: none;
}
label.me__btn.btn-dark {
    margin-top: -20px;
}
.invalid-feedback {
    font-size: 13px;
    color: red;
}

.help-block {
    color: red;
    font-size: 13px;
}
span.message {
    text-align: center;
    display: block;
    font-size: 18px;
}

#homework-form .upload-kit .upload-kit-item.not-image {
    border: none!important;
    background: none!important;
    height: 35px!important;
    margin: 0!important;
    padding: 0!important;
    /* border-radius: 8px; */
    /* overflow: hidden !important; */
}

#homework-form .upload-kit .upload-kit-item.not-image .name {
    border-radius: 7px!important;
    position: static!important;
    height: 100%!important;
    padding: 0 9px!important;
    overflow: hidden!important;
    display: flex!important;
    align-items: center!important;
}

#homework-form .form-group.field-homeworkform-file {
    display: flex!important;
    align-items: center!important;
}

#homework-form .upload-kit {
    display: flex!important;
    align-items: center!important;
    height: 20px!important;
}

#homework-form .files {
    margin-bottom: 0!important;
    margin-left: 10px !important;
}
#homework-form li.upload-kit-input {
    display: none!important;
}
#homework-form input[type=file] {
    display: none!important;
}
#homework-form label {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 51px;
    margin-left: 15px;
    text-decoration: underline;
}
#homework-form svg {
    display: block;
    margin: 0 8px;
}

.answer {
   display: block;
}
section.course-page .text-container img {
    max-width: 100% !important;
}
.upload-kit .upload-kit-input, .upload-kit .upload-kit-item {
    position: relative;
    height: 150px;
    color: #999;
    border: 2px dashed #fff;
    border-radius: 7px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center center;
    background-origin: border-box;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 146px;
    border-radius: 50% !important;
    color: #fff;
    overflow: hidden;
    width: 150px;
}
input#userfile_field {
    display: none;
}
#homework-form .upload-kit .upload-kit-input, #homework-form .upload-kit .upload-kit-item {
    border-radius: 4px !important;
}
.card__content {
    min-height: 82px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.card__title.subtitle {
    min-height: 60px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.content-section__subject {
    background: #fff;
    color: #333;
    padding: 20px;
    border-radius: 20px;
    opacity: 0.9;
}